<?xml version="1.0" encoding="utf-8"?>

<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

<receiver android:enabled="true" android:exported="true" 
    android:name="package.myActivityrRunOnStartup"
    android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
    <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            <category android:name="android.intent.category.DEFAULT" />
    </intent-filter>
</receiver>
